.search-bar {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $white;
    border-radius: 2px;
    border-bottom: 2px solid $grey-2;
    z-index: 1;

    @include respond-to(gt-sm) {
        height: 50px;
        width: 40%;
        top: 10px;
        background-color: $grey-3;
        border-bottom: none;
    }


    .search-bar__input {
        border: none;
        outline: none;
        font-size: 10pt;
        margin-left: 14px;
        width: 90%;
        height: 40px;
        font-size: 14pt;
        background-color: $white;

        @include respond-to(gt-sm) {
            background-color: $grey-3;

        }
    }

    .search-bar__icon {
        color: $grey-1;
        margin-right: auto;
        margin-left: 12px;
    }

    .search-bar__divider {
        width: 1px;
        height: 28px;
        margin: 4px;
    }

    .search-bar__location {
        width: 50px;
        height: 50px;
        font-size: 50px;
        border-radius: unset;
        color: $grey-1;
    }
}