.search-bar {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 2px;
   // border-bottom: 2px solid $primary;
    z-index: 1;


    .search-bar__input {
        border: none;
        outline: none;
        font-size: 10pt;
        margin-left: 14px;
        width: 90%;
    }

    .search-bar__icon {
        color: $primary;
        margin-left: auto;
        margin-right: 4px;
    }

    .search-bar__divider {
        width: 1px;
        height: 28px;
        margin: 4px;
    }

    .search-bar__location {
        border-radius: unset;
    }
}