.search-bar {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border-bottom: 2px solid #e4e4e4;
    z-index: 1;

    @include respond-to(gt-sm) {
        width: 70%;
        top: 80px;
    }


    .search-bar__input {
        border: none;
        outline: none;
        font-size: 10pt;
        margin-left: 14px;
        width: 90%;
    }

    .search-bar__icon {
        color: $primary;
        margin-right: auto;
        margin-left: 12px;
    }

    .search-bar__divider {
        width: 1px;
        height: 28px;
        margin: 4px;
    }

    .search-bar__location {
        border-radius: unset;
    }
}