.login {
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-button--filled {
    width: 320px;
    margin: 6px;
    border-radius: 2px;
    background-color: $blue-1;
    color: $white;

    &:hover {
      background-color: $blue-1;
      opacity: 0.9;
    }
  }

  .login-button {
    width: 320px;
    margin: 6px;
    border-radius: 2px;
    color: $blue-1;
  }
}
