@import "./EventPin/styles";
@import "./MapActions/styles";

.map {
    position: relative;
    padding: 5px;
    height: calc(100vh - 10px); /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100 - 80px);
    width: calc(100% - 10px);
    background-color: $white;
    border-radius: 2px;

    @include respond-to(gt-sm) {
        height: calc(100vh - 10px);
        height: calc(var(--vh, 1vh) * 100 - 90px);
    }

    div:nth-of-type(2) {
        div:first-of-type {
            border-radius: 2px
        }
    }
}

.loading-bar-container {
    width: calc(100% - 10px);
    height: 100%;
    position: absolute;
    z-index: 10;
}

.loading-bar {
    position: absolute !important;
    top: 0px !important;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
}