.event-dialog {
    .event-dialog-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .event-content {
            overflow: hidden;
            width: 100%;
            padding-right: 17px;
        }
        .event-info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 150px;
            overflow: hidden;

            @include respond-to(gt-sm) {
                margin-top: 82px;
             }
        }

        .event-info__item {
            display: flex;
            align-items: center;
            font-size: 18pt;
            color: $grey-1;
            font-family: 'futura';
            height: 35px;
            margin-left: 14px;
            width: 100%;

            @include respond-to(gt-sm) {
                width: 50%;
            }


            &.location {
                font-family: 'Lato', serif;
                font-size: 12pt;
            }

            &.love {
                font-family: 'Lato', serif;
                font-size: 14pt;
            }

            &.time {
                font-family: 'Lato', serif;
                font-size: 14pt;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            @include respond-to(gt-sm) {
                height: 50px;
                font-size: 22pt;
            }

            .event-item__icon {
                width: 30px;
                height: 30px;
                font-size: 30pt;
                margin-right: 12px;

                &.love {
                    color: $primary;
                }
            }
        }

        .event-dialog__description {
            display: flex;
            flex-direction: column;
            font-family: "futura";
            color: $grey-1;
            overflow-x: hidden;
            margin-bottom: 84px;

            @include respond-to(gt-sm) {
                margin-bottom: 64px;
            }

            .event-description__title {
                font-family: 'Lato', serif;
                font-size: 18pt;
                margin-left: 28px;
                margin-bottom: 4px;
            }
            .event-description__content {
                font-family: 'Lato', serif;
                width: calc(100% - 56px);
                max-height: 100px;
                box-sizing: content-box;
                overflow-y: scroll;
                overflow-x: hidden;
                word-wrap: break-word;
                padding-left: 28px;
                padding-right: 56px;
                margin: auto;
                text-align: left;
            }
        }

        .event-dialog-controls {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 62px;
            margin-top: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $blue-1;
            background-color: $white;

            @include respond-to(gt-sm) {
                height: 42px;
            }

            .event-dialog-control {
                background-color: $white;
                width: 100%;
                height: 100%;
                text-align: center;
                color: $blue-1;

                .love {
                    color: $primary;
                }
            }
        }
    }
    .event-dialog-photo {
        width: 100px;
        height: 100px;
        background-color: $white;
        border-radius: 50%;
        border: 4px solid $grey-2;
        margin: 0 auto;
        margin: 8px auto;

        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to(gt-sm) {
            width: 150px;
            height: 150px;
            background-color: $white;
            border-radius: 50%;
            border: 4px solid $grey-2;
            position: fixed;
            left: 50%;
            right: 50%;
            margin-top: -75px;
            margin-left: -75px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}