.event-pin {
    margin-top: -20px;
    margin-left: -20px;
    position: relative;
    background-color: $white;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    
    .event-pin__icon {
      position: absolute;
      cursor: pointer;
      width: 40px;
      height: 40px;
      font: 40px;
      color: $grey-1;
    }
  }