@import './Constants/constants';
@import './Components/styles';

body {
    touch-action: none;
  }
  
  .pac-container {
    position: absolute;
    margin-top: 12px;
    border-top: none;
    box-shadow: none;
    z-index: 10000;
  
    &:after {
      background-image: none !important;
      height: 0px;
    }
  
    .pac-item {
      cursor: pointer;
      border: none;
      padding: 4px;
      padding-left: 12px;
      .pac-icon{
        display: none;
      }
    }
}