.search-input {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: none;
  padding: 12px;
  width: 150px;
  background-color: #e8e8e8;
  margin-bottom: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;

  .__icon {
    min-width: unset;
    min-height: unset;
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  .__input {
    background-color: #e8e8e8;
    font-size: 14px;
    width: 100px;
    border: none;

    &:focus {
      outline: none;
    }
  }
  

  }