@import "./Constants/constants";
@import "./Components/component-styles";
@import "./Dialogs/dialogs-styles";

.pac-container {
  position: absolute;
  right: 0 !important;
  left: 0 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  width: 100% !important;
  border-bottom: 2px solid $grey-2;
  border-top: none;
  box-shadow: none;

  &:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
  }

  @include respond-to(gt-sm) {
    width: 40% !important;
    margin-top: 0;
  }

  .pac-item {
    cursor: pointer;
    border: none;
    padding: 4px;
    padding-left: 12px;
    .pac-icon{
      display: none;
    }
  }
}