.map-actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    bottom: 90px;
    right: 16px;
    background-color: $white;
    border-radius: 8px;
    border-bottom: 2px solid $grey-2;
    border-right: 2px solid $grey-2;
  
    @include respond-to(gt-sm) {
        bottom: unset;
        top: 90px;
    }
  
    .map-actions__icon-button {
        margin: 8px;
        color: $grey-1;
    }
  
    .map-actions__icon {
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
  }